<section class="login">
    <div class="card">
        <form action="/rentals/edit/{{values.id}}" method="post">
            <h1>Edit a Rental</h1>
            <div class="mb-3">
                <label for="headline">Headline</label>
                <input type="text" class="form-control" id="headline" name="headline" value="{{values.headline}}"
                    required>
            </div>
            <div class="mb-3">
                <label for="numSleeps">Number of Sleeps</label>
                <input type="number" class="form-control" id="numSleeps" name="numSleeps" min="0" max="100"
                    value="{{values.numSleeps}}" required>
            </div>
            <div class="mb-3">
                <label for="numBedrooms">Number of Bedrooms</label>
                <input type="number" class="form-control" id="numBedrooms" name="numBedrooms" min="0" max="100"
                    value="{{values.numBedrooms}}" required>
            </div>
            <div class="mb-3">
                <label for="numBathrooms">Number of Bathrooms</label>
                <input type="number" class="form-control" id="numBathrooms" name="numBathrooms" min="0" max="100"
                    value="{{values.numBathrooms}}" required>
            </div>
            <div class="mb-3">
                <label for="pricePerNight">Price per Night</label>
                <input type="number" class="form-control" id="pricePerNight" name="pricePerNight" step="1" min="1"
                    value="{{values.pricePerNight}}" required>
            </div>
            <div class="mb-3">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" value="{{values.city}}" required>
            </div>
            <div class="mb-3">
                <label for="province">Province</label>
                <input type="text" class="form-control" id="province" name="province" value="{{values.province}}"
                    required>
            </div>
            <div class="mb-3">
                <label for="imageUrl">Image</label>
                <input type="file" class="form-control-file" id="imageUrl" name="imageUrl"
                    accept="image/jpg,image/jpeg,image/png,image/gif" value="{{values.imageUrl}}">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="featuredRental" name="featuredRental"
                    value="{{values.featuredRental}}">
                <label class="form-check-label" for="featuredRental">Featured Rental</label>
            </div>
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
</section>